
.site-header {
    visibility: collapse;
}

// How the posts list looks like on home page
ul.list {
    list-style: inside;
    margin-left: 0;
}

.wrapper {
    margin-left: 15em;
}

.post-content {
    margin-bottom: 0;
}

@include media-query($on-palm) {
    // Make site header visible to mobile
    .site-header {
        visibility: visible;
    }
    
    // Remove left indent since no sidebar
    .wrapper {
        margin-left: auto;
    }
}

