
// Flex container for home page layout
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

// Set 2 columns 
.column {
    float: left;
}

// reset column
.row:after {
    content: "";
    display: table;
    clear: both;
}

// No horizontal space on mobile to stack containers side-by-side
// Just set default to columns
@include media-query($on-palm) {
    .flex-container {
        flex-direction: column;
    }
}

// How the posts list looks like on home page
ul.list {
    list-style: inside;
    margin-left: 0;
}
