---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="flex-container">

    <div class="column">
      <h2>Posts</h2>
      <ul class="list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | truncate: 30 | escape }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="column">

      <div>
        <h2>Reading</h2>
        <ul class="list">
          {%- assign books = site.readings %}
          {%- for book in books -%}
          <li>
            <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ book.date | date: date_format }}</span> -->
            <a href="{{ book.url | relative_url }}">
              {{ book.title | truncate: 40 | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

      <div>
        <h2>Projects</h2>
        <ul class="list">
          {%- assign projects = site.projects %}
          {%- for project in projects -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ project.date | date: date_format }}</span>
            <a href="{{ project.url | relative_url }}">
              {{ project.title | truncate: 30 | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

    </div>

  </div>
  <!-- <div style="text&#45;align: center;"> -->
  <!--   <p class="rss&#45;subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  <!-- </div> -->

</div>