---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <style>
    ul {
      list-style-position: inside;
      display: inline-block;
      zoom: 1;
      *display: inline;
    }

    ul.katas-list {
      float: center;
    }
  </style>

  {%- if site.posts.size > 0 -%}
    <ul>
      <h3>Posts</h3>
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.katas.size > 0 -%}
    <ul class="katas-list">
    <h3> Katas </h3>
      {%- for kata in site.katas | sort:"date" -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ kata.date | date: date_format }}</span>
          <a href="{{ kata.url | relative_url }}">
            {{ kata.title | escape }}
          </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
