---
layout: default
---
<article class="post">

  <header class="post-header">
    <h3 class="post-title">{{ page.title | escape }}</h3>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <ul>
    {%- assign katas = site.katas | sort:"date" | reverse %}
    {%- for kata in katas -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ kata.date | date: date_format }}</span>
        <a href="{{ kata.url | relative_url }}">
          {{ kata.title | escape }}
        </a>
      {%- if kata.difficulty -%}
      <span class="post-meta"> [{{ kata.difficulty }}] </span>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

</article>
