---
layout: default
---
<article class="post">

  <header class="post-header">
    <h3 class="post-title">{{ page.title | escape }}</h3>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <ul class="list">
    {%- assign projects = site.projects | sorted: "date" | reverse -%}
    {%- for project in projects -%}
    <li>
        <span class="project-title">
          <a href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
          </a>
        </span>

        {% if project.description %}
        <span class="project-description">
          - {{ project.description }}
        </span>
        {% endif %}

        {% if project.languages %}
          <span class="project-languages"> {{ project.languages | join: ", " }} </span>
        {% endif %}
    </li>
    {%- endfor -%}
  </ul>

</article>
