---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> {{ page.author | default: " Kenny Le " }} </span></span>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h3>Related Posts</h3>
  <ul class="list" style="padding-bottom: 10px;">
    {% for post in site.tags[page.category_tag] %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
    </li>
    {%- endfor -%}
  </ul>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
